.doctor-card-container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.doctor-card-details-container {
  padding: 20px;
  text-align: center;
}

.doctor-card-profile-image-container {
  margin-bottom: 10px;
}

.doctor-card-profile-image-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.doctor-card-details {
  margin-bottom: 10px;
}

.doctor-card-detail-name {
  font-size: 18px;
  font-weight: bold;
}

.doctor-card-detail-speciality {
  font-size: 16px;
  margin: 5px 0;
}

.doctor-card-detail-experience,
.doctor-card-detail-consultationfees {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.book-appointment-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.book-appointment-btn div:nth-child(2) {
  font-size: 12px;
}
