.doctor-search-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
}

.search-doctor-input-box {
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.search-doctor-input-results {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
}

.search-doctor-result-item {
    padding: 10px;
    cursor: pointer;
}

.search-doctor-result-item:hover {
    background-color: #f0f0f5;
}
